<footer class="footer">
    <ul class="social">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>&copy; 2024 Example</p>
  </footer>